header {
  margin-bottom: 1rem;
}
.heading {
  font-size: 36px;
}
.sidebar-hamburger {
  display: none;
}
@media (max-width: 769px) {
  .heading { 
    font-size: 25px;
  }
  .sidebar-hamburger {
    display: inline-block;
  }
  .btn-sidebar {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .btn-sidebar.open {
      position: fixed;
      left: 0;
      width: 40px;
      background: transparent;
      color: white;
      border: none;
      top: -10px;
      z-index: 999;
  }
  .btn.btn-sidebar:focus-visible {
      box-shadow: none;
  }
  .btn.btn-sidebar:active {
    color: white;
    background-color:transparent ;
  }
  .btn-sidebar.open i {
    font-size: 30px;
  }
}

